body{
    font-family: "Lato", serif;
}

*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    align-items: center;
}
img{
    width: 200px;
    height: 100%;
}
.nav ul li {
    display: inline;
    padding-right: 20px;
    font-size: 20px;
    transition: 1s;
    
}

.nav li:first-child{
    margin-right: auto;
}
.sidebag{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.508);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none
    ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebag li{
    width: 100%;
    padding:10px;
    
}
.sidebag li:hover{
    color: black;
    background-color: rgba(141, 133, 133, 0.634);
}
li{
    width: 100px;
    list-style: none;
    /* margin-right: 0px; */
}
li img {
    width: 40px;
    height: 90px;

}
.menu{
    width: 90px;
    height: 50px;
}



 ul li:hover{
    /* padding: 10px; */
    /* margin-top: 50px; */
color: rgb(164, 133, 133);
font-size: 21px;
/* background-color: rgba(148, 136, 136, 0.164); */

}
.nav{
    margin-right: 80px;
}
.buttons{
    margin-right: 100px;
}
.buttons button{
    font-size: 15px;
    margin-right: 10px;
    padding: 5px
}

.menu-button{
    display: none;
}

/*                                      nav media query */

@media (min-width: 461px) and (max-width:800px){
    .hide{
        display: none;
    }
    .sidebag{
        width: 80%
    }
    
    .buttons{
        display: none;
    }
    .menu-button{
        display: block;
    }
   

    .head h1 {
     color: red;
     font-size: 30px !important;
     /* margin-left: 20px !important; */
    }
    .head p {
        font-size: 19px !important;
    }
    .head button{
        width: 120px !important;
        font-size: 17px;
    }
    .headimg{
        margin-left: 20px;
    }
   

    .imgs img {
        width: 250px !important;
        height: 350px !important;
      
    }
    .box{
        width: 200px !important;
        height: 60px !important;
        font-size: 11px;
    }
    .logos img{
        width: 100px !important;
        margin: auto !important;
        width: 80% !important;
        margin-right: 10px !important;
    }
    .services h1{
     font-size: 22px;
     margin-top: 50px !important;
    }
    .container{
        /* margin: auto !important; */
        display: grid !important;
        /* margin-right: 50px !important; */
        grid-template-columns: auto auto;
        width: 100% !important;
        margin-left: 30px !important;
        
        font-size: 15px;
    }
    .card i{
     font-size: 25px !important;
    }

    


}


@media  ( max-width:1180px){
    
    .sidebag{
        width: 80%;

    }
    
    .buttons{
        display: none;
    }
}

@media (max-width:480px){
    
    .sidebag{
        width: 100%;
    
        transition: 1s ease-out;
    }
    .hide{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .sidebag:hover{
        transform: scale(1);
        
    }
    main{
        width:   90% !important;
        margin: auto !important;
        display: flex !important;
       
    }
    
     

    
    .head h1{
   font-size: 19px !important;
   margin-left: 20px !important;
    }
    .head p{
        font-size: 12px !important;
        padding-left: 20px !important;
        width: 170px !important;
    }

    .head button {
        width: 100px !important;
        font-size: 12px !important;
        margin-left: 20px !important;
    }
    .imgs{
        margin-right: 20% !important;
    }
    .imgs img{
        width: 160px !important;
        height: 220px !important;
        

        /* padding-right: 20% !important; */
        /* position: relative !important; */

    }
    .box{
        /* position: absolute !important; */
        width: 70% !important;
        height: 50px !important;
        top: 70% !important;
        left: -30% !important;
        font-size: 12px !important;

    }
    .box p{
        font-size: 9px !important;
    }
    .box h3 {
        font-size: 10px !important;
        width: 100px !important;
        /* margin-right: 70p !important; */
    }



    /* .buttons{
        display: none;
    } */
}


.head{
    width:400px;
    padding-top: 80px;

}
.head h1{
    font-size: 50px;
}
.head p{
    font-size: 22px;
    margin-top: 20px;
}
.head button{
    width: 190px;
background-color: rgb(53, 53, 144);
padding: 10px;
font-size: 17px;
color: white;
border-radius: 9px;
margin-top: 40px;
transition: 1s all;
}
.head button:hover{
    transform: scale(0.9);
}


main{

    display: flex;
    margin: auto;
    justify-content:space-around;
    width: 100%;
}
.headimg{
    position: relative;
}
.imgs img{
    margin-top: 20px;
    width: 350px;
    height: 490px;
    border-radius: 15px;
    
}
.box{
    width: 220px;
    height: 90px;
    background-color: rgba(8, 8, 41, 0.967);
    color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: -40%;
}
.box h3{
    font-size: 15px;
    margin-left: 50px;
    color: gold;
}

.logos{
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    margin-top: 50px;
}
.logos img{
    width: 120px;
    margin: auto;
}
.services{
    margin-top: 20px;
}

.services h1 {
margin: auto;
width: 80%;
}
.services p{
margin: auto;
width: 80%;
margin-top: 10px;
}
.container{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 50px;
}
.card{
    width: 400px;
    /* padding: 20px; */
    text-align: center;
}
.card i{
    font-size: 40px;
    margin-top: 30px;
    
}
.card h3{
    font-size: 25px;
    margin-top: 50px;
}
.card p{
    width: 300px;
    margin-top: 20px;
}

.services2{
    display: flex ;
    margin-top: 120px;
    width: 100%;
    height: 400px;
    background-color: rgba(232, 217, 217, 0.723);
    position: relative;
}

.section{
    width: 400px;
    margin-left: 150px;
    margin-top: 100px;
}
.section p {
margin-top: 9px;
}
.section h1{
    margin-top: 5px;
}
.section button{
    padding: 10px;
    width: 170px;
    font-size: 16px;
    background-color: rgb(53, 53, 144);
    color: white;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 8px;
    transition: 1s;
}
.section button:hover{
    transform: scale(0.9);
}

 
.img1 img{
    position: absolute;
    top: -19%;
    left: 50%;
    width: 300px;
    border-radius: 9px;
    height: 380px;
    box-shadow: 10px 10px 10px black;
}
.img2 img{
    position: absolute;
    top: -9%;
    left: 73%;
    border-radius: 9px;
    height: 250px;
    box-shadow: 10px 10px 10px black;
}

.img3 img{
    position: absolute;
    top: 85%;
    left: 60%;
    border-radius: 8px;
    height: 150px;
    box-shadow: 10px 10px 10px black;
}
.img4 img{
    position: absolute;
    top: 70%;
    left: 76%;border-radius: 8px;
    box-shadow: 10px 10px 10px black;
    height: 300px;
}

.projects{
    margin: auto;
    margin-top: 200px;
    width: 80%;
}
.pac{
    width: 600px;
    margin-top: 10px;
    padding: 5px;/
}

.projimg{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    /* margin-left: 20px; */
gap: 25px;
    text-align: center;
}
.proj1{
    width: 390px;
}
.proj1 img{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    transition: all 1s;
}
.proj1 img:hover{
    transform: scale(0.9);
}

.proj1 h1{
    margin-top: 10px;
    font-size: 23px;
}
.proj1 p{
    margin-top: 9px;
    /* width: 300px; */
    text-align: center;
}

.projects button{
width: 190px;
background-color: rgb(53, 53, 144);
padding: 10px;
font-size: 17px;
color: white;
border-radius: 9px;
margin-top: 50px;
margin-left: 40%;
transition: all 1s;
}

.projects button:hover{
    transform: scale(0.9);
}

.projsect{
    display: flex;
    margin-top: 140px;
    background-color: rgba(232, 217, 217, 0.723);
    position: relative;
    height: 350px;
    
}
.abouts{
    margin-left: 800px;
    width: 600px;
    height: 200px;
    padding-top: 80px;
}
.abouts h1{
    margin-top: 7px;
}
.abouts p{
    margin-top: 7px;
}
.abouts button{
    margin-top: 20px;
    width: 160px;
background-color: rgb(53, 53, 144);
padding: 10px;
font-size: 17px;
color: white;
border-radius: 9px;
transition: all 1s;
}
.abouts button:hover{
  transform: scale(0.9);
}


.img9 img{
    position: absolute;
    width: 450px;
    height: 500px;
    left: 15%;
    border-radius: 9px;
    top: -20%;
}

.blogs{
    margin: auto;
    width: 80%;
    margin-top: 150px;
}
.b-p{
    width: 600px;
    margin-top: 10px;
}

.office{
    display: grid;
    gap: 60px;
    margin-top: 50PX;
    /* margin: auto; */
    grid-template-columns: auto auto auto;
}
.employe p{
    margin-top: 10px;
}
.employe h4{
    margin-top: 10px;
    font-size: 15px;
}
.employe button{
    margin-top: 10px;
    width: 120px;
background-color: rgb(29, 93, 120);
padding: 10px;
font-size: 13px;
color: white;
border-radius: 7px;
transition: all 1s;
}

.employe button:hover{
    transform: scale(0.9);
}
.bts{
 margin-left: 42%;
 margin-top: 40px;
 width: 160px;
background-color: rgb(53, 53, 144);
padding: 10px;
font-size: 17px;
color: white;
border-radius: 9px;
transition: 1s;
}
.bts:hover{
    transform: scale(0.9);
}



.caption{
    margin: auto;
    width: 80%;
    margin-top: 100px;
}

.cap{
    display: flex;
    margin-top: 50px;
}
.capt{
    width: 450px;
    border-radius: 9px;
    margin-right: 20px;
    padding: 40px;
    background-color: rgb(8, 8, 41);
    color: white;
}
.capt h3{
    margin-top: 30px;
    font-size: 15px;
    text-align: right;
    color: gold;

}

.pricing{
    margin: auto;
    width: 80%;
    margin-top: 100px;
}

.rng{
    margin-top: 80px;
    display: flex;

}

.price{
    width: 450px;
    /* border: 3px solid rgb(128, 128, 128); */
margin-right: 20px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    
}
.d-flex p {
    font-size: 22px;
   font-weight: 800
   ;
    margin-left: 120px;
}
.price i{
    font-size: 40px;
}
.price h2{
    margin-top: 28px
}

.price p{
    width: 300px;
    margin-top: 12px;
}

.price ul{
    list-style: none;
    margin-top: 18px;
    font-weight: bold;
    font-size: 18px;
}

.price ul li{
    margin-top: 12px;
}

.price button{
    width: 110px;
    background-color: rgb(53, 53, 144);
    padding: 7px;
    font-size: 17px;
    color: white;
    border-radius: 9px;
    margin-top: 19px;
    margin-left: 50px;
    transition: all 1s;
}
.price button:hover{
    transform:scale(0.9) ;
    cursor: pointer;
}



footer{
    margin-top: 50px;
    
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(14, 14, 62);
    color: white;
}

.f-log img{
    width: 200px;
    height: 100px;
    
    
}
.fot-p{
    font-weight: bold;
}
.f-h h1{
    font-size: 20px;
}

section{
    margin: auto;
    width: 80%;
    margin-top: 80px;
    position: relative;

}

section form{
    margin-top: 90px;
}

form input{
    width: 480px;
    height: 30px;
    margin-bottom: 20px;
}

form textarea {
    width: 480px;
    height: 140px;
}

form button{

    width: 200px;
    background-color: rgb(53, 53, 144);
    padding: 9px;
    font-size: 17px;
    color: white;
    border-radius: 9px;
    margin-top: 40px;
    transition:  all 1s;

}
form button:hover{
    cursor: pointer;
    transform: scale(0.9);
}
 .f-1 img{
    position: absolute;
    width: 270px;
    height: 200px;
    border-radius: 8px;
    top: 15%;
    left: 46%;
 }

 .f-2 img{
    position: absolute;
    width: 270px;
    height: 300px;
    border-radius: 8px;
    left: 46%;
    top: 51%;
    
 }
.f-3 img{
    position: absolute;
    width: 350px;
    border-radius: 9px;
    height: 300px;
    top: 35%;
    left: 72%;
}
